<h2>Últimas postagens:</h2>
<hr>
<div>
    {{#each postagens }}
        <a href="/postagem/{{ titulo_slug }}" class="card mt-4" style="text-decoration: none;">
            <div class="card-body">
                <h4>{{ titulo }}</h4>
                <small>{{ categoria.nome }}</small>
                <hr>
                <small>{{ date }}</small>
            </div>
        </a>
    {{ else }}
        <div class="card mt-4">
            <div class="card-body">
                <h4>Nenhuma postagem encontrada</h4>
                <small>Sem nada para mostrar!</small>
            </div>
        </div>
    {{/each}}
</div>